config SHIELD_KRADIO_CENTRAL
    def_bool $(shields_list_contains,kradio_central)

config SHIELD_KRADIO_LEFT
    def_bool $(shields_list_contains,kradio_left)

config SHIELD_KRADIO_RIGHT
    def_bool $(shields_list_contains,kradio_right)